<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mystyles.css">
    <script type="text/javascript">
        var vglnk = {key: 'da8fde68a215b1138120599049b8fdbc'};
        (function(d, t) {
            var s = d.createElement(t);
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//cdn.viglink.com/api/vglnk.js';
            var r = d.getElementsByTagName(t)[0];
                r.parentNode.insertBefore(s, r);
        }(document, 'script'));
    </script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <div class="center">
        <h1>Existing Links</h1>
        <p>In this paragraph, I am embedding an 
            <a id="existing-link" href="https://www.amazon.com/Garmin-Smartwatch-Touchscreen-Monitoring-010-02173-11/dp/B07WLN9RYD?pf_rd_p=d22f02ec-561d-470e-9f56-891084a0600d&pd_rd_wg=ePgsO&pf_rd_r=60VWYYK461HF4V78RF4A&ref_=pd_gw_unk&pd_rd_w=x0Ty3&pd_rd_r=8c144403-69da-4abe-9b70-eff01d80afe4">existing link</a> 
            to check to see if the proper tracking query parameters were set.
        </p>
        <h1>Keyword Links</h1>
        <p id="keyword-paragraph">In this paragraph, I am using keywords such as bose headphones, nike shoes, and trampolines.
        </p>
      </div>
    </div>
    </div>
  </body>
</html>