<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Under Construction!</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mystyles.css">
    <!-- //Connect Container: TheMichaelWilson-->
    <script src="//get.s-onetag.com/30d2c53f-5cf9-4970-bb4a-857591494340/tag.min.js" async defer></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <div class="center">
        <img src="../static/img/construction6.gif">
        <h1>Targeting sticky footer</h1>
        <p>
            Test to see we can create a sticky footer then target with signal licensing.
        </p>
      </div>
    </div>
    </div>
  </body>
</html>