<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Under Construction!</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mystyles.css">
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<!-- category head script -->
<script type="application/javascript">
    var googletag=googletag||{};googletag.cmd=googletag.cmd||[];googletag.cmd.push(function(){googletag.pubads().disableInitialLoad()});
</script>
<script type="application/javascript" src="//ap.lijit.com/www/headerauction/headersuite.min.js?configId=1640"></script>

<!-- long code -->
<script type="application/javascript">
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    googletag.cmd.push(function() {
        googletag.pubads().disableInitialLoad()
    });
    </script>
    <script type="application/javascript">
    var DEFAULT_PREBID_TIMEOUT = 700;
    
    window.sovrn = window.sovrn || {};
    window.sovrn.headersuite = window.sovrn.headersuite || {};
    window.sovrn.headersuite.config = {
        "id": "1640",
        "affiliateId": "51468",
        "name": "Category",
        "informerId": "7703401",
        "serverAuction": false,
        "priceGranularity": "high",
        "revShare": "",
        "overallTimeout": 700,
        "bidderTimeout": 0,
        "sendAllBids": false,
        "cmp": false,
        "auctionInHeader": [{
            "slotId": "",
            "divId": "div-gpt-ad-1539786822287-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588558 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311154568068966 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588545 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311154568068966 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588545 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311154568068966 }"
            },{
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588558 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311154568068966 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539786886440-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588559 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311153662099302 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588546 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311153662099302 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588546 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311153662099302 }"
            },{
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588559 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311153662099302 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787081116-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[300,250]]",
                    "paramsJson": "{ \"tagid\": 588547 }"
                },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 1311156413562726 }"
            }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[300,250]]",
                    "paramsJson": "{ \"tagid\": 588547 }"
                },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 1311156413562726 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[300,250]]",
                "paramsJson": "{ \"tagid\": 588547 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 1311156413562726 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787118261-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[300,250]]",
                    "paramsJson": "{ \"tagid\": 588548 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311157386641254 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[300,250]]",
                    "paramsJson": "{ \"tagid\": 588548 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311157386641254 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[300,250]]",
                "paramsJson": "{ \"tagid\": 588548 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311157386641254 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787018367-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[300,250]]",
                    "paramsJson": "{ \"tagid\": 588549 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311158326165350 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[300,250]]",
                    "paramsJson": "{ \"tagid\": 588549 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311158326165350 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[300,250]]",
                "paramsJson": "{ \"tagid\": 588549 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311158326165350 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539786978865-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588560 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311155507593062 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588550 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311155507593062 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588560 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311155507593062 }"
            },{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588550 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311155507593062 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787288604-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588572 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311140575870822 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588567 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311140575870822 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588567 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311140575870822 }"
            },{
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588572 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311140575870822 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787377780-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588573 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311141884493670 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588568 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311141884493670 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588568 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311141884493670 }"
            },{
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588573 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311141884493670 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787484208-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588574 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311143092453222 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588569 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311143092453222 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588569 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311143092453222 }"
            }, {
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588574 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311143092453222 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787543837-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588575 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311144065531750 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588570 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311144065531750 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588570 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311144065531750 }"
            },{
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588575 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311144065531750 }"
            }]
        }, {
            "slotId": "",
            "divId": "div-gpt-ad-1539787610752-0",
            "viewports": [{
                "minWidth": 0,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"tagid\": 588576 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[320,50]]",
                    "paramsJson": "{ \"adUnitId\": 11311145005055846 }"
                }]
            }, {
                "minWidth": 768,
                "zones": [{
                    "provider": "sovrn",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"tagid\": 588571 }"
                },{
                    "provider": "lockerdome",
                    "sizesJson": "[[728,90]]",
                    "paramsJson": "{ \"adUnitId\": 11311145005055846 }"
                }]
            }],
            "zones": [{
                "provider": "sovrn",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"tagid\": 588571 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[728,90]]",
                "paramsJson": "{ \"adUnitId\": 11311145005055846 }"
            }, {
                "provider": "sovrn",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"tagid\": 588576 }"
            },{
                "provider": "lockerdome",
                "sizesJson": "[[320,50]]",
                "paramsJson": "{ \"adUnitId\": 11311145005055846 }"
            }]
        }]
    };
    window.sovrn.headersuite.paths = window.sovrn.headersuite.paths || {};
    
    var pbjs = pbjs || {};
    pbjs.que = pbjs.que || [];
    
    (function() {
      var pbs = document.createElement('script');
      pbs.async = true;
      pbs.type = 'text/javascript';
      pbs.src = '//ap.lijit.com/www/headerauction/prebid.min.js';
      var node = document.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(pbs, node);
    })();
    
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    
    var configOverallTimeout = window.sovrn.headersuite.config.overallTimeout;
    var prebidTimeout = (configOverallTimeout !== null && configOverallTimeout > 0) ? configOverallTimeout : DEFAULT_PREBID_TIMEOUT;
    
    var pubConfig = {
      priceGranularity: window.sovrn.headersuite.config.priceGranularity,
      enableSendAllBids: window.sovrn.headersuite.config.sendAllBids,
      bidderTimeout: prebidTimeout,
      publisherDomain: window.location.hostname, // Used for SafeFrame creative.
      userSync: {
        iframeEnabled: true
      }
    };
    
    if (window.sovrn.headersuite.config.cmp && window.sovrn.headersuite.gdprApplies) {
      pubConfig.consentManagement = {
        cmpApi: 'iab',
        timeout: 5000,
        allowAuctionWithoutConsent: true
      }
    }
    
    pbjs.que.push(function() {
      if (window.sovrn.headersuite.config.revShare) {
        window.sovrn.headersuite.header.setCustomRevShare(window.sovrn.headersuite.config.revShare);
      }
      pbjs.setConfig(pubConfig);
    });
    
    pbjs.que.push(function() {
      var adUnits = window.sovrn.headersuite.header.aggregateAdUnitData(window.sovrn.headersuite.config.auctionInHeader);
      if (adUnits.length === 0) {
        console.error('No ad units configured from server-side, stop further processing');
        return;
      }
    
      pbjs.addAdUnits(adUnits);
      pbjs.requestBids({
        timeout: prebidTimeout,
        bidsBackHandler: sendAdserverRequest
      });
    });
    
    function sendAdserverRequest() {
      if (pbjs.adserverRequestSent) return;
      pbjs.adserverRequestSent = true;
      googletag.cmd.push(function() {
        pbjs.que.push(function() {
          pbjs.setTargetingForGPTAsync();
          googletag.pubads().refresh();
        });
      });
    }
    
    window.sovrn.headersuite.header = {
      // Formats config from endpoint into an adUnit object accepted by prebid.js
      aggregateAdUnitData: function (aihData) {
        var adUnits = [];
        if (Array.isArray(aihData) === false) {
          // we may get an empty response back -- no ad units for the configId
          return adUnits;
        }
    
        var browserWidth = window.innerWidth && document.documentElement.clientWidth
          ? Math.min(window.innerWidth, document.documentElement.clientWidth)
          : window.innerWidth || document.documentElement.clientWidth ||
          document.getElementsByTagName('body')[0].clientWidth;
    
        for (var i = 0; i < aihData.length; i++) {
          var slot = aihData[i];
          var adUnit = {
            slotId: slot.slotId,
            code: slot.divId,
            sizes: [],
            mediaTypes: { banner: { sizes: [], }, },
            bids: [],
          };
    
          if (slot.viewports && slot.viewports.length) {
            var correctViewport = {}; correctViewport.zones = [];
            correctViewport.minWidth = -Infinity;
            for (var k = 0; k < slot.viewports.length; k++) {
              if (slot.viewports[k].minWidth <= browserWidth) {
                if (slot.viewports[k].minWidth > correctViewport.minWidth) {
                  correctViewport = slot.viewports[k];
                }
              }
            }
            slot.zones = correctViewport.zones;
          }
    
          for (var j = 0; j < slot.zones.length; j++) {
            var zone = slot.zones[j];
    
            // Sizes arrays for each zone get combined then deduped for the ad unit
            zone.sizes = JSON.parse(zone.sizesJson.replace(/\\"/g, "\\'"));
            adUnit.sizes = adUnit.sizes.concat(zone.sizes);
            adUnit.bids = adUnit.bids.concat(this.convertZoneToBids(zone));
          }
    
          adUnit.sizes = adUnit.mediaTypes.banner.sizes = this.dedupeSizes(adUnit.sizes);
          adUnits.push(adUnit);
        }
    
        return adUnits;
      },
    
      // Converts [[300,600],[300,600],[160,600]] to [[300,600],[160,600]]
      dedupeSizes: function (array) {
        var a = array.concat();
        for (var i = 0; i < a.length; i++) {
          for (var j = i + 1; j < a.length; j++) {
            if (a[i][0] === a[j][0] && a[i][1] === a[j][1]) {
              a.splice(j--, 1);
            }
          }
        }
    
        return a;
      },
    
      setCustomRevShare: function(customRevShare) {
        try {
          var revShare = JSON.parse(customRevShare);
          pbjs.bidderSettings = {};
          for (var property in revShare) {
            if (revShare.hasOwnProperty(property)) {
              pbjs.bidderSettings[property] = {
                bidCpmAdjustment: function(bidCpm, bid) {
                  return bidCpm * revShare[property] / 100;
                }
              }
            }
          }
        } catch (e) {
          console.error('Error adjusting cpm');
        }
      },
    
      convertZoneToBids: function(zone) {
        var paramsBase = JSON.parse(zone.paramsJson.replace(/\\"/g, "\\'"));
        var baseBid = {
          bidder: zone.provider,
          params: paramsBase,
        };
    
        if (zone.provider === 'ix') {
          bids = [];
    
          for (var i = 0; i < zone.sizes.length; i++) {
            var ixParams = Object.assign({}, paramsBase, { size: zone.sizes[i] });
            bids.push(Object.assign({}, baseBid, { params: ixParams }));
          }
    
          return bids;
        } else {
          return baseBid;
        }
      },
    };
    
    window.sovrn.headersuite.tracking = {
      beaconFired: false,
    
      sendBeacon: function() {
        if (this.doNotTrack()) {
          return;
        }
    
        try {
          var id, beacon_frame;
          // Don't fire the beacon if it has already been fired
          if (this.beaconFired) {
            return false;
          }
          id = 'sovrn_beacon';// This will be the iframe id for the beacon so could be anything not necessarily tied to a zone id
          beacon_frame = this.createiFrame(id, 1, 1);
          beacon_frame.src = this.getBeaconURL();
          document.body.appendChild(beacon_frame);
          this.beaconFired = true;
        } catch (e) {
          console.error('error making beacon', e);
          return false;
        }
        return true;
      },
    
      createiFrame: function(id, w, h) {
        var ifr, iframe_style, i, j, attr, styles;
        ifr = document.createElement('iframe');
        iframe_style = ifr.style;
    
        attr = {
          id: id,
          margin: '0',
          padding: '0',
          frameborder: '0',
          width: w + '',
          height: h + '',
          scrolling: 'no',
          src: 'about:blank'
        };
    
        styles = {
          margin: '0px',
          padding: '0px',
          border: '0px none',
          width: w + 'px',
          height: h + 'px',
          overflow: 'hidden'
        };
    
        // Loop through the iframe attributes and set them
        for (i in attr) {
          if (attr.hasOwnProperty(i)) {
            ifr.setAttribute(i, attr[i]);
          }
        }
    
        // Loop through all the styles and apply them
        for (j in styles) {
          if (styles.hasOwnProperty(j)) {
            try {
              iframe_style[j] = styles[j];
            } catch (e) {}
          }
        }
    
        return ifr;
      },
    
      getBeaconURL: function() {
        return '//gslbeacon.lijit.com/beacon?' +
          'rand=' + Math.floor(9e3 * Math.random()) +
          '&informer=' + window.sovrn.headersuite.config.informerId +
          '&type=fpads' +
          '&loc=' + window.location.host +
          '&v=1.2';
      },
    
      sendContainer: function() {
        if (this.doNotTrack()) {
          return;
        }
    
        var id = 'sovrn_container';
        var myIframe = this.createiFrame(id, 1, 1);
        document.body.appendChild(myIframe);
        var iframe_ref = document.getElementById(id);
        var prefix = '<!DOCTYPE html><html><head><title>Sovrn Container</title>' +
        '<meta http-equiv="Content-Type" content="text/html;charset=utf-8">' +
        '<meta http-equiv="X-UA-Compatible" content="IE=edge"></head><body style="margin:0;padding:0">';
    
        var suffix = '<scr'.concat("ipt type='text/javascript' src='//ap.lijit.com/res/sovrn.containertag.min.js?cid=17&v=3&aid=" +
          window.sovrn.headersuite.config.affiliateId + "'></sc", 'ript></body></html>');
        var sovrn_html = prefix + suffix;
    
        try {
          var iframe_doc = iframe_ref.contentDocument || iframe_ref.contentWindow.document;
          iframe_doc.open('text/html', 'replace');
          iframe_doc.write(sovrn_html);
          iframe_doc.close();
        } catch (ex) {
        }
      },
    
      doNotTrack: function(nav, win) {
        nav = nav || navigator;
        win = win || window;
        return nav.doNotTrack === 'yes' || nav.doNotTrack === '1' || nav.msDoNotTrack === '1' || win.doNotTrack === '1';
      }
    };
    
    var el = document.getElementById('sovrn-header-script');
    if (el) {
      el.onload = function() {
        window.sovrn.headersuite.tracking.sendContainer();
        window.sovrn.headersuite.tracking.sendBeacon();
      };
    }
    
    // Exports for tests
    if (typeof exports !== 'undefined') {
      exports.headersuite = window.sovrn.headersuite;
    }
    
    </script>
    
    <script>
      googletag.cmd.push(function() {
        googletag.defineSlot('/27068989/MichaelWilsonBlog300x250', [300, 250], 'div-gpt-ad-1539787018367-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });
    </script>
  </head>
  <body>
    <h1>300x250</h1>
    <!-- /27068989/MichaelWilsonBlog300x250 -->
    <div id='div-gpt-ad-1539787018367-0' style='height:250px; width:300px;'>
        <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1539787018367-0'); });
        </script>
    </div>
  </body>
</html>