<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Michael Wilson</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <h1>WELCOME</h1>
      <div class="jumbotron">
        <h1 class="display-1">Hello</h1>
        <p>Welcome to {{site_name}}</p>
      </div>
    </div>

    <script type="text/javascript">
    fetch('/api/test')
      .then(function(response) {
        return response.json();
      })
      .then(function(myJson) {
        console.log(myJson);
      });
    </script>
  </body>
</html>
