<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Under Construction!</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mystyles.css">
    <script>
      //<![CDATA[
      "use strict";
  
      function r(e) {
          /in/.test(document.readyState) ? setTimeout("r(" + e + ")", 9) : e()
      }
  
      function initAdserver() {
          if (!pbjs.initAdserverSet) {
              googletag.cmd.push(function() {
                  pbjs.que.push(function() {
                      pbjs.setTargetingForGPTAsync();
                      googletag.pubads().refresh()
                  })
              });
              pbjs.initAdserverSet = !0
          }
      }
      var PREBID_TIMEOUT = 700;
      window.log = function() {
          window.log.history = window.log.history || [];
          window.log.history.push(arguments);
          this.console && console.log(Array.prototype.slice.call(arguments))
      };
      var pbjs = pbjs || {};
      pbjs.que = pbjs.que || [];
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      ! function() {
          var e = document,
              t = e.createElement("script");
          e.location.protocol;
          t.type = "text/javascript";
          t.src = "//ap.lijit.com/www/headerauction/prebid.min.js";
          var n = document.getElementsByTagName("head")[0];
          n.insertBefore(t, n.firstChild)
      }();
      googletag.cmd.push(function() {
          googletag.pubads().disableInitialLoad()
      });
      pbjs.que.push(function() {
          var e = [
      {
          code: '/21719467383/728x90_leaderboard',
          mediaTypes: {
              banner: {
                  sizes: [[728,90]]
              }
          },
          bids: [{
              bidder: 'sovrn',
              params: {
                  tagid: 577913
              }
          },
          {
              bidder: 'appnexus',
              params: {
                  placementId: 13779657
              }
          }]
      },
      {
          code: '/21719467383/300x250_med_rec1',
          mediaTypes: {
              banner: {
                  sizes: [[300,250]]
              }
          },
          bids: [{
              bidder: 'sovrn',
              params: {
                  tagid: 577911
              }
          },
          {
              bidder: 'appnexus',
              params: {
                  placementId: 13779661
              }
          }]
      },
      {
          code: '/21719467383/300x600__half-page1',
          mediaTypes: {
              banner: {
                  sizes: [[300,600]]
              }
          },
          bids: [{
              bidder: 'sovrn',
              params: {
                  tagid: 577912
              }
          },
          {
              bidder: 'appnexus',
              params: {
                  placementId: 13779659
              }
          }]
      },
      {
          code: '/21719467383/320x50__mobile1',
          mediaTypes: {
              banner: {
                  sizes: [[320,50]]
              }
          },
          bids: [{
              bidder: 'sovrn',
              params: {
                  tagid: 578783
              }
          },
          {
              bidder: 'appnexus',
              params: {
                  placementId: 13779668
              }
          }
      ]}
  
  ];
          pbjs.addAdUnits(e);
          pbjs.requestBids({
              bidsBackHandler: function(e) {
                  initAdserver()
              }
          });
          pbjs.bidderSettings = {
              standard: {
                  adserverTargeting: [{
                      key: "hb_bidder",
                      val: function(e) {
                          return e.bidderCode
                      }
                  }, {
                      key: "hb_adid",
                      val: function(e) {
                          return e.adId
                      }
                  }, {
                      key: "hb_pb",
                      val: function(e) {
                          return e.pbHg
                      }
                  }]
              }
          }
      });
      setTimeout(initAdserver, PREBID_TIMEOUT);
      //]]>
  </script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>
          Welcome to The Michael Wilson dot com!
        </h1>
      </div>
      <p>Exciting things are coming for sure, but the site is currently under construction!</p>
      <p>Coming 2021</p>
      <div class="center">
        <img src="../static/img/construction6.gif">
      </div>
    </div>
    <script type="text/javascript">
      fetch('/api/test')
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          console.log(myJson);
        });
      </script>
  </body>
</html>