<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Under Construction!</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mystyles.css">
    <script type="application/javascript">var googletag=googletag||{};googletag.cmd=googletag.cmd||[];googletag.cmd.push(function(){googletag.pubads().disableInitialLoad()});</script><script type="application/javascript" src="//vpod7q.qa.lijit.com/www/headerauction/headersuite.min.js?configId=1592"></script>
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>

    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/27068989/MichaelWilsonBlog300x250', [300, 250], 'div-gpt-ad-1560793081127-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>
          Welcome to The Michael Wilson dot com!
        </h1>
      </div>
      <p>QA Header Complete Test</p>
    </div>
    <h1>QA HC Test 300x250</h1>
    <!-- /27068989/MichaelWilsonBlog300x250 -->
    <div id='div-gpt-ad-1560793081127-0' style='height:250px; width:300px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1560793081127-0'); });
        </script>
    </div>
    <script type="text/javascript">
      fetch('/api/test')
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          console.log(myJson);
        });
      </script>
  </body>
</html>