<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wes Test Page</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mystyles.css">
    <script>var googletag=googletag||{};googletag.cmd=googletag.cmd||[];googletag.cmd.push(function(){googletag.pubads().disableInitialLoad()});</script>
    <script>
      //var pod = "pod10";
      (function() {
        var tagjs = document.createElement("script");
        var s = document.getElementsByTagName("script")[0];
        tagjs.aysnc = true;
        tagjs.src = "//ap.lijit.com/www/headerauction/headersuite.min.js?configId=997";
        s.parentNode.insertBefore(tagjs, s);
      })();
   </script>
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>

    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot("/27068989/wes_test_1", [300, 250], "div-gpt-ad-1528919252776-0").addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <div class="center">
        <h1>Wes' Special Ad</h1>
        <!-- /27068989/wes_test_1 -->
        <p>This is prod Ad 5</p>
        <div id='div-gpt-ad-1528919252776-0' style='height:250px; width:300px;'>
        <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528919252776-0'); });
        </script>
        </div>
        
      </div>
    </div>
    </div>
  </body>
</html>